 <img src="https://eant.tech/imagenes/logo.png" width=25% height=80%  >

## <img src="http://icons.iconarchive.com/icons/cornmanthe3rd/plex/256/Other-python-icon.png" width="40"> Ejercicio Restaurant üçùüçïüçü

<center>
<img src="https://i.ibb.co/ySBJX7L/25746.png" alt="25746" border="0" width="50%" height="30%">
</center>


üè∑Ô∏è 1. Importar los paquetes que vamos a utilizar.

In [1]:
import pandas as pd
import plotly as px


üè∑Ô∏è 2. Importar el dataframe denominado tips

In [2]:
df = px.data.tips()


üè∑Ô∏è 3.  Imprimir las dos primeras filas del dataframe

In [3]:
df.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4


üè∑Ô∏è 4.  Imprimir el nombre de las columnas del dataframe

In [4]:
list(df.columns)

['total_bill', 'tip', 'sex', 'smoker', 'day', 'time', 'size']


üè∑Ô∏è 5.  Imprimir la estructura de las columnas del dataframe

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 244 entries, 0 to 243
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   total_bill  244 non-null    float64
 1   tip         244 non-null    float64
 2   sex         244 non-null    object
 3   smoker      244 non-null    object
 4   day         244 non-null    object
 5   time        244 non-null    object
 6   size        244 non-null    int64
dtypes: float64(2), int64(1), object(4)
memory usage: 13.5+ KB


üè∑Ô∏è 6.  Imprimir la cantidad de filas y columnas del dataframe

In [6]:
df.shape

(244, 7)


üè∑Ô∏è 7.  Generar un dataframe que contenga las columnas total_bill, sex, day y tip

In [7]:
df1 = df[['sex','total_bill','day','tip']]
# df1 = df.iloc[ :, [2, 0, 4, 1] ]


üè∑Ô∏è 8.  Seleccionar las primeras 4 columnas y las 2 primeras del dataframe

In [8]:
df.iloc[ 0:2 , 0:4 ]

   total_bill   tip     sex smoker
0       16.99  1.01  Female     No
1       10.34  1.66    Male     No


üè∑Ô∏è 9.  Seleccionar todas las columnas que comiencen con `t`

In [9]:
df.columns[df.columns.str.startswith("t")]

Index(['total_bill', 'tip', 'time'], dtype='object')


üè∑Ô∏è 10.  Seleccionar todas las columnas que finalicen con e

In [10]:
df.columns[df.columns.str.endswith("e")]

Index(['time', 'size'], dtype='object')


üè∑Ô∏è 11.  Seleccionar todas las columnas que contienen con e

In [11]:
df.loc[:,df.columns[df.columns.str.contains("e")]]

        sex smoker    time  size
0    Female     No  Dinner     2
1      Male     No  Dinner     3
2      Male     No  Dinner     3
3      Male     No  Dinner     2
4    Female     No  Dinner     4
..      ...    ...     ...   ...
239    Male     No  Dinner     3
240  Female    Yes  Dinner     2
241    Male    Yes  Dinner     2
242    Male     No  Dinner     2
243  Female     No  Dinner     2

[244 rows x 4 columns]


üè∑Ô∏è 12.  Filtrar el dataframe para que retorne las observaciones que tengan una propina mayor e igual a 3 dolares

In [12]:
df.loc[df["tip"]>=3 , :]

     total_bill   tip     sex smoker   day    time  size
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
5         25.29  4.71    Male     No   Sun  Dinner     4
7         26.88  3.12    Male     No   Sun  Dinner     4
..          ...   ...     ...    ...   ...     ...   ...
232       11.61  3.39    Male     No   Sat  Dinner     2
234       15.53  3.00    Male    Yes   Sat  Dinner     2
238       35.83  4.67  Female     No   Sat  Dinner     3
239       29.03  5.92    Male     No   Sat  Dinner     3
243       18.78  3.00  Female     No  Thur  Dinner     2

[121 rows x 7 columns]


üè∑Ô∏è 13.  Filtrar el dataframe para que retorne las observaciones que tengan una propinas que estan entre 3 y 4 dolares

In [13]:
df.loc[df["tip"].between(3,4), : ]

     total_bill   tip     sex smoker   day    time  size
2         21.01  3.50    Male     No   Sun  Dinner     3
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
7         26.88  3.12    Male     No   Sun  Dinner     4
9         14.78  3.23    Male     No   Sun  Dinner     2
..          ...   ...     ...    ...   ...     ...   ...
227       20.45  3.00    Male     No   Sat  Dinner     4
231       15.69  3.00    Male    Yes   Sat  Dinner     3
232       11.61  3.39    Male     No   Sat  Dinner     2
234       15.53  3.00    Male    Yes   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2

[80 rows x 7 columns]


üè∑Ô∏è 14.  Filtrar el dataframe para que retorne las observaciones que tengan las mesas que tienen 2 o 4 comensales y que tenga una propina entre 3 y 4 dolares

In [14]:
df.loc[ (df["tip"].between(3,4)) & (df["size"].isin([2,4])) ,  ]

     total_bill   tip     sex smoker   day    time  size
3         23.68  3.31    Male     No   Sun  Dinner     2
4         24.59  3.61  Female     No   Sun  Dinner     4
7         26.88  3.12    Male     No   Sun  Dinner     4
9         14.78  3.23    Male     No   Sun  Dinner     2
13        18.43  3.00    Male     No   Sun  Dinner     4
14        14.83  3.02  Female     No   Sun  Dinner     2
15        21.58  3.92    Male     No   Sun  Dinner     2
24        19.82  3.18    Male     No   Sat  Dinner     2
29        19.65  3.00  Female     No   Sat  Dinner     2
32        15.06  3.00  Female     No   Sat  Dinner     2
34        17.78  3.27    Male     No   Sat  Dinner     2
42        13.94  3.06    Male     No   Sun  Dinner     2
45        18.29  3.00    Male     No   Sun  Dinner     2
49        18.04  3.00    Male     No   Sun  Dinner     2
55        19.49  3.51    Male     No   Sun  Dinner     2
56        38.01  3.00    Male    Yes   Sat  Dinner     4
60        20.29  3.21    Male    Yes   Sat  Dinner     2
63        18.29  3.76    Male    Yes   Sat  Dinner     4
72        26.86  3.14  Female    Yes   Sat  Dinner     2
76        17.92  3.08    Male    Yes   Sat  Dinner     2
77        27.20  4.00    Male     No  Thur   Lunch     4
78        22.76  3.00    Male     No  Thur   Lunch     2
80        19.44  3.00    Male    Yes  Thur   Lunch     2
81        16.66  3.40    Male     No  Thur   Lunch     2
87        18.28  4.00    Male     No  Thur   Lunch     2
89        21.16  3.00    Male     No  Thur   Lunch     2
90        28.97  3.00    Male    Yes   Fri  Dinner     2
91        22.49  3.50    Male     No   Fri  Dinner     2
94        22.75  3.25  Female     No   Fri  Dinner     2
96        27.28  4.00    Male    Yes   Fri  Dinner     2
98        21.01  3.00    Male    Yes   Fri  Dinner     2
101       15.38  3.00  Female    Yes   Fri  Dinner     2
103       22.42  3.48  Female    Yes   Sat  Dinner     2
108       18.24  3.76    Male     No   Sat  Dinner     2
109       14.31  4.00  Female    Yes   Sat  Dinner     2
110       14.00  3.00    Male     No   Sat  Dinner     2
115       17.31  3.50  Female     No   Sun  Dinner     2
134       18.26  3.25  Female     No  Thur   Lunch     2
140       17.47  3.50  Female     No  Thur   Lunch     2
157       25.00  3.75  Female     No   Sun  Dinner     4
160       21.50  3.50    Male     No   Sun  Dinner     4
164       17.51  3.00  Female    Yes   Sun  Dinner     2
171       15.81  3.16    Male    Yes   Sat  Dinner     2
173       31.85  3.18    Male    Yes   Sun  Dinner     2
174       16.82  4.00    Male    Yes   Sun  Dinner     2
175       32.90  3.11    Male    Yes   Sun  Dinner     2
178        9.60  4.00  Female    Yes   Sun  Dinner     2
179       34.63  3.55    Male    Yes   Sun  Dinner     2
180       34.65  3.68    Male    Yes   Sun  Dinner     4
184       40.55  3.00    Male    Yes   Sun  Dinner     2
194       16.58  4.00    Male    Yes  Thur   Lunch     2
204       20.53  4.00    Male    Yes  Thur   Lunch     4
207       38.73  3.00    Male    Yes   Sat  Dinner     4
219       30.14  3.09  Female    Yes   Sat  Dinner     4
221       13.42  3.48  Female    Yes   Fri   Lunch     2
227       20.45  3.00    Male     No   Sat  Dinner     4
232       11.61  3.39    Male     No   Sat  Dinner     2
234       15.53  3.00    Male    Yes   Sat  Dinner     2
243       18.78  3.00  Female     No  Thur  Dinner     2


üè∑Ô∏è 15.  Agregar al ejercicio anterior la condici√≥n que deben ser solo mujeres.

In [15]:
df.loc[ (df["tip"].between(3,4)) & (df["size"].isin([2,4])) & (df["sex"]=="Female") ,  ]

     total_bill   tip     sex smoker   day    time  size
4         24.59  3.61  Female     No   Sun  Dinner     4
14        14.83  3.02  Female     No   Sun  Dinner     2
29        19.65  3.00  Female     No   Sat  Dinner     2
32        15.06  3.00  Female     No   Sat  Dinner     2
72        26.86  3.14  Female    Yes   Sat  Dinner     2
94        22.75  3.25  Female     No   Fri  Dinner     2
101       15.38  3.00  Female    Yes   Fri  Dinner     2
103       22.42  3.48  Female    Yes   Sat  Dinner     2
109       14.31  4.00  Female    Yes   Sat  Dinner     2
115       17.31  3.50  Female     No   Sun  Dinner     2
134       18.26  3.25  Female     No  Thur   Lunch     2
140       17.47  3.50  Female     No  Thur   Lunch     2
157       25.00  3.75  Female     No   Sun  Dinner     4
164       17.51  3.00  Female    Yes   Sun  Dinner     2
178        9.60  4.00  Female    Yes   Sun  Dinner     2
219       30.14  3.09  Female    Yes   Sat  Dinner     4
221       13.42  3.48  Female    Yes   Fri   Lunch     2
243       18.78  3.00  Female     No  Thur  Dinner     2


üè∑Ô∏è 16.  Crear un dataframe que contenga los registros que corresponden a:
* cenas
* fines de semana √≥ es una mesa de no fumadores

In [16]:
df_2 = df.loc[(df['time']=='Dinner') & (df['day'].isin(['Sat', 'Sun'])) & (df["smoker"]=="No"), :]


üè∑Ô∏è 17.  Ordernar en forma descendente las propinas obtenidas del punto anterior

In [17]:
df_2.sort_values('tip', ascending = False)

     total_bill   tip     sex smoker  day    time  size
212       48.33  9.00    Male     No  Sat  Dinner     4
23        39.42  7.58    Male     No  Sat  Dinner     4
59        48.27  6.73    Male     No  Sat  Dinner     4
47        32.40  6.00    Male     No  Sun  Dinner     4
239       29.03  5.92    Male     No  Sat  Dinner     3
..          ...   ...     ...    ...  ...     ...   ...
43         9.68  1.32    Male     No  Sun  Dinner     2
75        10.51  1.25    Male     No  Sat  Dinner     2
235       10.07  1.25    Male     No  Sat  Dinner     2
0         16.99  1.01  Female     No  Sun  Dinner     2
111        7.25  1.00  Female     No  Sat  Dinner     1

[102 rows x 7 columns]


üè∑Ô∏è 18.  Ordernar en forma la variables size y tip ascendente del punto anterior

In [18]:
df_2.sort_values( ['size','tip'], ascending = (True, False) )

     total_bill   tip     sex smoker  day    time  size
111        7.25  1.00  Female     No  Sat  Dinner     1
46        22.23  5.00    Male     No  Sun  Dinner     2
28        21.70  4.30    Male     No  Sat  Dinner     2
20        17.92  4.08    Male     No  Sat  Dinner     2
104       20.92  4.08  Female     No  Sat  Dinner     2
..          ...   ...     ...    ...  ...     ...   ...
154       19.77  2.00    Male     No  Sun  Dinner     4
159       16.49  2.00    Male     No  Sun  Dinner     4
155       29.85  5.14  Female     No  Sun  Dinner     5
185       20.69  5.00    Male     No  Sun  Dinner     5
156       48.17  5.00    Male     No  Sun  Dinner     6

[102 rows x 7 columns]


üè∑Ô∏è 19.  Agregar una columna que corresponda al porcentaje de la propina abonado por el comensal.

In [19]:
df["porc_propina"] = (df["tip"] / df["total_bill"])*100


üè∑Ô∏è 20.  Modificar la columna realizada en el paso anterior y redondear los decimales en 2.

In [20]:
df["porc_propina"] = round((df["tip"] / df["total_bill"])*100,4)


üè∑Ô∏è 21.  Cuantos registros corresponde a mujeres y cuantos a hombres.

In [21]:
df["sex"].value_counts(normalize=True)

Male      0.643443
Female    0.356557
Name: sex, dtype: float64

In [22]:
df[["sex","smoker"]].value_counts(normalize=True)

sex     smoker
Male    No        0.397541
        Yes       0.245902
Female  No        0.221311
        Yes       0.135246
dtype: float64


üè∑Ô∏è 22.  Cuantos registros hay por dia de la semana y tipo de comida

In [23]:
df [['day', 'time']].value_counts(normalize= True)

day   time
Sat   Dinner    0.356557
Sun   Dinner    0.311475
Thur  Lunch     0.250000
Fri   Dinner    0.049180
      Lunch     0.028689
Thur  Dinner    0.004098
dtype: float64