 <img src="https://eant.tech/imagenes/logo.png" width=25% height=80%  >  


## <img src="http://icons.iconarchive.com/icons/cornmanthe3rd/plex/256/Other-python-icon.png" width="40"> Ejercicio Base de Scoring


<center>
 <img src="https://miro.medium.com/max/1200/1*ZKa__3DMmxYlzXRg2EMKGA.png" width="50%" height="10%"> 
</center>


üè∑Ô∏è 1. Importar pandas, numpy, datetime y os.

In [1]:
import pandas as pd
import numpy as np
from datetime import date
import os

üè∑Ô∏è 2. Importar el archivo de base_scoring.csv

In [2]:
data = pd.read_csv('./data/base_scoring.csv', sep=';')
data.head()

,PLAZO,PRESTAMOS_ANTERIORES,SCORE_VERAZ,ESTADO_CIVIL,DEUDA_SIST_FIN,INGRESOS_PERSONALES,dias_mora
0,48,3,801.0,NaN,153878.43720,212512.5937,0
1,18,1,NaN,Soltero,22306.12750,130572.4536,0
2,47,5,446.0,Soltero,29200.00000,230000.0000,0
3,48,4,NaN,Soltero,81159.60888,105732.6630,0
4,24,3,153.0,Soltero,16527.33398,112860.6895,0

üè∑Ô∏è 3. Visualizar las columnas del dataframe

In [3]:
list(data.columns)

['PLAZO',
 'PRESTAMOS_ANTERIORES',
 'SCORE_VERAZ',
 'ESTADO_CIVIL',
 'DEUDA_SIST_FIN',
 'INGRESOS_PERSONALES',
 'dias_mora']

üè∑Ô∏è 4. Generar una variable denominada **`'Mora_mas_90'`** en la cual:

  * si los dias de mora superan a los 90 dias asignar el valor **1**
  * si no supera los 90 dias asginar el valor **0**

In [4]:
data['dias_mora'].fillna(0)
data['MORA>90'] = np.where(data['dias_mora'] >= 90, 1, 0)
data['MORA>90'].value_counts()

0    2421
1     192
Name: MORA>90, dtype: int64

üè∑Ô∏è 5. Eliminar la columna que contiene la cantidad de d√≠as de mora

In [5]:
data.drop(columns='dias_mora', inplace=True)
data.columns

Index(['PLAZO', 'PRESTAMOS_ANTERIORES', 'SCORE_VERAZ', 'ESTADO_CIVIL',
       'DEUDA_SIST_FIN', 'INGRESOS_PERSONALES', 'MORA>90'],
      dtype='object')

üè∑Ô∏è 6. Cual es el **`ESTADO_CIVIL`** m√°s frecuente?

In [6]:
data['ESTADO_CIVIL'].value_counts(dropna=False)

CASADO        1092
SOLTERO        672
Soltero        501
DIVORCIADO     253
NaN             70
VIUDO           25
Name: ESTADO_CIVIL, dtype: int64

üè∑Ô∏è 7. Verificar nuevamente el ejercicio 6 y corregir lo que sea necesario

In [7]:
data['ESTADO_CIVIL'].replace('Soltero', 'SOLTERO', inplace=True)
data['ESTADO_CIVIL'].value_counts(dropna=False)

SOLTERO       1173
CASADO        1092
DIVORCIADO     253
NaN             70
VIUDO           25
Name: ESTADO_CIVIL, dtype: int64

üè∑Ô∏è 8. Verificar si hay observaciones que no tengan un valor en la variable ESTADO_CIVIL y asingar el valor m√°s frecuente. (Utilizar np.where)

In [8]:
data['ESTADO_CIVIL'].fillna('SOLTERO', inplace=True)
data['ESTADO_CIVIL'].value_counts(dropna=False)

SOLTERO       1243
CASADO        1092
DIVORCIADO     253
VIUDO           25
Name: ESTADO_CIVIL, dtype: int64

üè∑Ô∏è 9. Existen valores nulos en la variable **`score_veraz`**, por lo cual asginar la mediana para dichas observaciones.
(Utilizar **`.loc`**)

In [9]:
data['SCORE_VERAZ'].fillna(round(data['SCORE_VERAZ'].median(), 0), inplace=True)

üè∑Ô∏è 10. El Score Veraz se puede asignar una categoria en base a los scores, por lo cual genere esa variable teniendo en cuenta las categorias que se visualizan en la siguiente imagen.
(Utilizar **`.loc`**)

<center>
<img src="https://www.cotizacion.co/img/valores-de-fico-score.jpg" width="50%" height="10%"> 
</center>

In [10]:
bins = [300,560,650,700,750,850]
labels = ['VERY BAD','BAD','FAIR','GOOD','EXCELLENT'] 
data['SCORE_VERAZ'] = pd.cut(data['SCORE_VERAZ'], bins=bins, labels=labels)
data['SCORE_VERAZ'].dtype

CategoricalDtype(categories=['VERY BAD', 'BAD', 'FAIR', 'GOOD', 'EXCELLENT'], ordered=True)

üè∑Ô∏è 11. Cual es la categoria que m√°s frecuente

In [11]:
data['SCORE_VERAZ'].value_counts()

GOOD         805
EXCELLENT    506
VERY BAD     335
BAD          267
FAIR         234
Name: SCORE_VERAZ, dtype: int64

üè∑Ô∏è 12. Como podemos corregir y detectar cuales son los valores que no asignamos.

üè∑Ô∏è 13. En base a las categorias generadas asignar una variable dummy que:

  * Asigne un valor **1** si es **'GOOD'** o **'EXCELLENT'**
  * Para el resto de los valores asignar un **0**

In [12]:
data['BUEN_SCORE'] = data['SCORE_VERAZ'].replace(['GOOD', 'EXCELLENT'], 1)
data['BUEN_SCORE'].replace(['VERY BAD','BAD','FAIR'], 0, inplace=True)
data['BUEN_SCORE'].value_counts(normalize=True)

1    0.610619
0    0.389381
Name: BUEN_SCORE, dtype: float64

üè∑Ô∏è 14. Generar una carpeta que contenga un archivo por cada categoria de score veraz. Se debe tener en cuenta que si alguna categoria contiene espacios, remplazar por "_"

  La carpeta debe tener la denominaci√≥n (**score_prestamos_YYYYMMDD**)

1. Creo la carpeta
2. for 
  * 1. filtrar por la categoria loc
  * 2. to_csv---> guardo en la carpeta del paso 1

In [13]:
categorias = list(data['SCORE_VERAZ'].unique())

os.mkdir(f'./data/score_prestamos_{date.today().strftime("%Y%m%d")}')
path = f'./data/score_prestamos_{date.today().strftime("%Y%m%d")}'

for cat in categorias:
    filtrado = data.loc[(data['SCORE_VERAZ'] == cat)]
    filtrado.to_csv(f'{path}/SCORE_{cat}.csv', index=False)