 <img src="https://eant.tech/imagenes/logo.png" width=25% height=80%  >

## <img src="http://icons.iconarchive.com/icons/cornmanthe3rd/plex/256/Other-python-icon.png" width="40"> Ejercicio New York Flights ‚úàÔ∏è üß≥ üóΩ

<CENTER>
<img src="https://img.freepik.com/free-vector/plane-fly-cloud-sky-illustration-banner-concept-travel-tourism-jet-direction-holiday-flat_159757-154.jpg?size=626&ext=jpg" width="60%">
</CENTER>

Este ejercicio vamos a trabajar con los datos que se encuentran en el paquete **nycflights13**, este paquete contiene datos de las aerol√≠neas para todos los vuelos que pasaron por aeropuertos de Nueva York en 2013. Tambi√©n incluye 'metadatos' √∫tiles sobre `aerol√≠neas`, `aeropuertos`, `clima` y `aviones`.

Diagrama de entidad relaci√≥n [DER]

<center>
<img src="https://i.ibb.co/TYwvDqY/nycflights.png" alt="nycflights" border="0" width="40%">
</center>

In [1]:
# INSTALAR EL PAQUETE 
!pip install nycflights13

Requirement already satisfied: nycflights13 in c:\users\matye\appdata\local\programs\python\python38\lib\site-packages (0.0.3)
Requirement already satisfied: pandas>=0.24.0 in c:\users\matye\appdata\local\programs\python\python38\lib\site-packages (from nycflights13) (1.2.2)
Requirement already satisfied: numpy>=1.16.5 in c:\users\matye\appdata\local\programs\python\python38\lib\site-packages (from pandas>=0.24.0->nycflights13) (1.20.1)
Requirement already satisfied: python-dateutil>=2.7.3 in c:\users\matye\appdata\roaming\python\python38\site-packages (from pandas>=0.24.0->nycflights13) (2.8.1)
Requirement already satisfied: pytz>=2017.3 in c:\users\matye\appdata\local\programs\python\python38\lib\site-packages (from pandas>=0.24.0->nycflights13) (2021.1)
Requirement already satisfied: six>=1.5 in c:\users\matye\appdata\roaming\python\python38\site-packages (from python-dateutil>=2.7.3->pandas>=0.24.0->nycflights13) (1.15.0)
WARNING: You are using pip version 20.2.3; however, version 21.1.2 is available.
You should consider upgrading via the 'c:\users\matye\appdata\local\programs\python\python38\python.exe -m pip install --upgrade pip' command.

In [2]:
import pandas as pd
import nycflights13 as nyc

üîπ Importar los dataframes que estan en este paquete, los mismos deben tener los siguientes nombres: 
* `clima`,
* `vuelos`,
* `aerolineas`,
* `aeropuerto`,
* `planes`

In [3]:
vuelos = nyc.flights
aerolineas = nyc.airlines
aeropuertos = nyc.airports

In [4]:
vuelos.head(2)

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01T10:00:00Z
1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01T10:00:00Z

In [5]:
aerolineas.head(2)

  carrier                    name
0      9E       Endeavor Air Inc.
1      AA  American Airlines Inc.

In [6]:
aeropuertos.head(2)

,faa,name,lat,lon,alt,tz,dst,tzone
0,04G,Lansdowne Airport,41.130472,-80.619583,1044,-5,A,America/New_York
1,06A,Moton Field Municipal Airport,32.460572,-85.680028,264,-6,A,America/Chicago

üìù Recordemos los tipos de joins que podiamos realizar en **sql**

<center>
<img src="https://estradawebgroup.com/ImagesUpload/sql-joins.jpg" width="40%">
</center>

üîπ Generar un dataframe que contenga los datos de los vuelos y que contenga una columna con el nombre de la aerolinea.
El nombre de la columna nueva debe ser `aerolinea_nombre`

In [7]:
aerolineas.head(2)

  carrier                    name
0      9E       Endeavor Air Inc.
1      AA  American Airlines Inc.

In [8]:
aerolineas.rename({"name":"aerolinea_nombre"}, axis=1, inplace = True)

In [9]:
df_vuelos = vuelos.merge(aerolineas, 
             how = "left",
             on ="carrier")
df_vuelos.head(4)

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,minute,time_hour,aerolinea_nombre
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,15,2013-01-01T10:00:00Z,United Air Lines Inc.
1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,29,2013-01-01T10:00:00Z,United Air Lines Inc.
2,2013,1,1,542.0,540,2.0,923.0,850,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089,5,40,2013-01-01T10:00:00Z,American Airlines Inc.
3,2013,1,1,544.0,545,-1.0,1004.0,1022,-18.0,B6,725,N804JB,JFK,BQN,183.0,1576,5,45,2013-01-01T10:00:00Z,JetBlue Airways

üîπ Modificar el dataset generado en el paso anterior para agregar dos columnas que contenga el nombre de la aeropuerto destino y origen.
El nombre de la columna nueva debe ser `aeropuerto_dest` y `aeropuerto_origen`

In [10]:
aero_dest = aeropuertos[["faa", "name"]].rename({"name": "aeropuerto_dest"}, axis= 1)
aero_dest

      faa                aeropuerto_dest
0     04G              Lansdowne Airport
1     06A  Moton Field Municipal Airport
2     06C            Schaumburg Regional
3     06N                Randall Airport
4     09J          Jekyll Island Airport
...   ...                            ...
1453  ZUN                     Black Rock
1454  ZVE         New Haven Rail Station
1455  ZWI      Wilmington Amtrak Station
1456  ZWU       Washington Union Station
1457  ZYP                   Penn Station

[1458 rows x 2 columns]

In [11]:
#agregamos columna destino
df_vuelos = df_vuelos.merge(aero_dest, 
                how= "left", 
                left_on = "dest", 
                right_on ="faa")
df_vuelos.head(2)

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,...,origin,dest,air_time,distance,hour,minute,time_hour,aerolinea_nombre,faa,aeropuerto_dest
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,...,EWR,IAH,227.0,1400,5,15,2013-01-01T10:00:00Z,United Air Lines Inc.,IAH,George Bush Intercontinental
1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,...,LGA,IAH,227.0,1416,5,29,2013-01-01T10:00:00Z,United Air Lines Inc.,IAH,George Bush Intercontinental

In [12]:
#agregamos columna origen
df_vuelos = df_vuelos.merge(aeropuertos[["faa", "name"]].rename({"name": "aeropuerto_origen"}, axis= 1), 
                how= "left", 
                left_on = "origin", 
                right_on ="faa")
df_vuelos.head(2)

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,...,air_time,distance,hour,minute,time_hour,aerolinea_nombre,faa_x,aeropuerto_dest,faa_y,aeropuerto_origen
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,...,227.0,1400,5,15,2013-01-01T10:00:00Z,United Air Lines Inc.,IAH,George Bush Intercontinental,EWR,Newark Liberty Intl
1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,...,227.0,1416,5,29,2013-01-01T10:00:00Z,United Air Lines Inc.,IAH,George Bush Intercontinental,LGA,La Guardia

In [13]:
df_vuelos.head(2)

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,...,air_time,distance,hour,minute,time_hour,aerolinea_nombre,faa_x,aeropuerto_dest,faa_y,aeropuerto_origen
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,...,227.0,1400,5,15,2013-01-01T10:00:00Z,United Air Lines Inc.,IAH,George Bush Intercontinental,EWR,Newark Liberty Intl
1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,...,227.0,1416,5,29,2013-01-01T10:00:00Z,United Air Lines Inc.,IAH,George Bush Intercontinental,LGA,La Guardia

In [14]:
df_vuelos = df_vuelos.drop(["faa_x","faa_y"], axis= 1)
df_vuelos.head(2)

,year,month,day,dep_time,sched_dep_time,dep_delay,arr_time,sched_arr_time,arr_delay,carrier,...,origin,dest,air_time,distance,hour,minute,time_hour,aerolinea_nombre,aeropuerto_dest,aeropuerto_origen
0,2013,1,1,517.0,515,2.0,830.0,819,11.0,UA,...,EWR,IAH,227.0,1400,5,15,2013-01-01T10:00:00Z,United Air Lines Inc.,George Bush Intercontinental,Newark Liberty Intl
1,2013,1,1,533.0,529,4.0,850.0,830,20.0,UA,...,LGA,IAH,227.0,1416,5,29,2013-01-01T10:00:00Z,United Air Lines Inc.,George Bush Intercontinental,La Guardia

üîπ Hay algun aeropuerto que no tenga cargada la parametria en la tabla aeropuertos? En el caso de que exista alguno retornar cuales son sus codigos.

In [15]:
print("los aeropuestos destino que no tienen asignando numero son en total", df_vuelos["aeropuerto_dest"].isna().sum())
print("los aeropuestos destino que no tienen asignando numero son en total", df_vuelos["aeropuerto_origen"].isna().sum())

los aeropuestos destino que no tienen asignando numero son en total 7602
los aeropuestos destino que no tienen asignando numero son en total 0

In [16]:
df_vuelos.loc[df_vuelos["aeropuerto_dest"].isna(), "dest"].unique()

array(['BQN', 'SJU', 'STT', 'PSE'], dtype=object)

In [17]:
aeropuertos.loc[aeropuertos["faa"]=='PSE' ,  ]

Empty DataFrame
Columns: [faa, name, lat, lon, alt, tz, dst, tzone]
Index: []

üîπ Se obtuvieron los datos de los vuelos para el 2014, por lo cual es necesario generar un dataframe denominado `vuelos_totales` que se encuentren los datos que estan en el dataset de `vuelos` y los que se encuentran en el archivo adjunto denominado `flights14.csv`

1. importar datos de vuelos14
1.1. validar si las columnas vuelos 14 son iguales a las columnas de vuelos 13
1.2 no son iguales validar cuales son las columnsa que tienen comun.
1.3 genero el dataframe vuelos14 con las columnas seleccionadas 
1.4 genero el dataframe vuelos13 con las mismas columnas que vuelos14
------
2. concat.

In [18]:
link_14 = './data/flights14.csv'

In [19]:
vuelos_14 = pd.read_csv(link_14)

In [20]:
vuelos_14.head(2)

,year,month,day,dep_time,dep_delay,arr_time,arr_delay,cancelled,carrier,tailnum,flight,origin,dest,air_time,distance,hour,min
0,2014,1,1,914,14,1238,13,0,AA,N338AA,1,JFK,LAX,359,2475,9,14
1,2014,1,1,1157,-3,1523,13,0,AA,N335AA,3,JFK,LAX,363,2475,11,57

In [21]:
vuelos_14.columns

Index(['year', 'month', 'day', 'dep_time', 'dep_delay', 'arr_time',
       'arr_delay', 'cancelled', 'carrier', 'tailnum', 'flight', 'origin',
       'dest', 'air_time', 'distance', 'hour', 'min'],
      dtype='object')

In [22]:
vuelos.columns

Index(['year', 'month', 'day', 'dep_time', 'sched_dep_time', 'dep_delay',
       'arr_time', 'sched_arr_time', 'arr_delay', 'carrier', 'flight',
       'tailnum', 'origin', 'dest', 'air_time', 'distance', 'hour', 'minute',
       'time_hour'],
      dtype='object')

In [23]:
print("Ncol 2014:", len(vuelos_14.columns))
print("Ncol 2013:", len(vuelos.columns))

Ncol 2014: 17
Ncol 2013: 19

In [24]:
vuelos.columns.isin(vuelos_14.columns)

array([ True,  True,  True,  True, False,  True,  True, False,  True,
        True,  True,  True,  True,  True,  True,  True,  True, False,
       False])

In [25]:
columnas_en_comun = vuelos.columns[vuelos.columns.isin(vuelos_14.columns)]
columnas_en_comun

Index(['year', 'month', 'day', 'dep_time', 'dep_delay', 'arr_time',
       'arr_delay', 'carrier', 'flight', 'tailnum', 'origin', 'dest',
       'air_time', 'distance', 'hour'],
      dtype='object')

In [26]:
vuelos.loc[: , columnas_en_comun]

,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour
0,2013,1,1,517.0,2.0,830.0,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5
1,2013,1,1,533.0,4.0,850.0,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5
2,2013,1,1,542.0,2.0,923.0,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089,5
3,2013,1,1,544.0,-1.0,1004.0,-18.0,B6,725,N804JB,JFK,BQN,183.0,1576,5
4,2013,1,1,554.0,-6.0,812.0,-25.0,DL,461,N668DN,LGA,ATL,116.0,762,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
336771,2013,9,30,NaN,NaN,NaN,NaN,9E,3393,NaN,JFK,DCA,NaN,213,14
336772,2013,9,30,NaN,NaN,NaN,NaN,9E,3525,NaN,LGA,SYR,NaN,198,22
336773,2013,9,30,NaN,NaN,NaN,NaN,MQ,3461,N535MQ,LGA,BNA,NaN,764,12
336774,2013,9,30,NaN,NaN,NaN,NaN,MQ,3572,N511MQ,LGA,CLE,NaN,419,11
336775,2013,9,30,NaN,NaN,NaN,NaN,MQ,3531,N839MQ,LGA,RDU,NaN,431,8

In [27]:
vuelos_14.loc[: , columnas_en_comun]

,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour
0,2014,1,1,914,14,1238,13,AA,1,N338AA,JFK,LAX,359,2475,9
1,2014,1,1,1157,-3,1523,13,AA,3,N335AA,JFK,LAX,363,2475,11
2,2014,1,1,1902,2,2224,9,AA,21,N327AA,JFK,LAX,351,2475,19
3,2014,1,1,722,-8,1014,-26,AA,29,N3EHAA,LGA,PBI,157,1035,7
4,2014,1,1,1347,2,1706,1,AA,117,N319AA,JFK,LAX,350,2475,13
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
253311,2014,10,31,1459,1,1747,-30,UA,1744,N23708,LGA,IAH,201,1416,14
253312,2014,10,31,854,-5,1147,-14,UA,1758,N33132,EWR,IAH,189,1400,8
253313,2014,10,31,1102,-8,1311,16,MQ,3591,N827MQ,LGA,RDU,83,431,11
253314,2014,10,31,1106,-4,1325,15,MQ,3592,N511MQ,LGA,DTW,75,502,11
253315,2014,10,31,824,-5,1045,1,MQ,3599,N813MQ,LGA,SDF,110,659,8

In [28]:
vuelos_2013_2014 =pd.concat([vuelos.loc[: , columnas_en_comun] , vuelos_14.loc[: , columnas_en_comun]] )

In [29]:
vuelos_2013_2014.head(2)

,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour
0,2013,1,1,517.0,2.0,830.0,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5
1,2013,1,1,533.0,4.0,850.0,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5

### Tarea: agregar aerolinea, aeropuestos (origen, destino)

In [30]:
aeropuertos.head(3)

,faa,name,lat,lon,alt,tz,dst,tzone
0,04G,Lansdowne Airport,41.130472,-80.619583,1044,-5,A,America/New_York
1,06A,Moton Field Municipal Airport,32.460572,-85.680028,264,-6,A,America/Chicago
2,06C,Schaumburg Regional,41.989341,-88.101243,801,-6,A,America/Chicago

In [31]:
aerolineas.head(3)

  carrier        aerolinea_nombre
0      9E       Endeavor Air Inc.
1      AA  American Airlines Inc.
2      AS    Alaska Airlines Inc.

In [32]:
vuelos_2013_2014.columns

Index(['year', 'month', 'day', 'dep_time', 'dep_delay', 'arr_time',
       'arr_delay', 'carrier', 'flight', 'tailnum', 'origin', 'dest',
       'air_time', 'distance', 'hour'],
      dtype='object')

In [33]:
df_13_14 = vuelos_2013_2014.merge(aerolineas, how = "left", on ="carrier")
             
df_13_14 = df_13_14.merge(aeropuertos[['faa','name']], how= "left", left_on = "dest", right_on ="faa")

df_13_14 = df_13_14.merge(aeropuertos[['faa','name']], how= "left", left_on = "origin", right_on ="faa")

df_13_14.rename(columns={"faa_x":'dest_id',
                 "name_x":'dest_airport',
                 "faa_y":'orig_id',
                 "name_y":'orig_airport'},
                 inplace=True)

df_13_14.head(10)

,year,month,day,dep_time,dep_delay,arr_time,arr_delay,carrier,flight,tailnum,origin,dest,air_time,distance,hour,aerolinea_nombre,dest_id,dest_airport,orig_id,orig_airport
0,2013,1,1,517.0,2.0,830.0,11.0,UA,1545,N14228,EWR,IAH,227.0,1400,5,United Air Lines Inc.,IAH,George Bush Intercontinental,EWR,Newark Liberty Intl
1,2013,1,1,533.0,4.0,850.0,20.0,UA,1714,N24211,LGA,IAH,227.0,1416,5,United Air Lines Inc.,IAH,George Bush Intercontinental,LGA,La Guardia
2,2013,1,1,542.0,2.0,923.0,33.0,AA,1141,N619AA,JFK,MIA,160.0,1089,5,American Airlines Inc.,MIA,Miami Intl,JFK,John F Kennedy Intl
3,2013,1,1,544.0,-1.0,1004.0,-18.0,B6,725,N804JB,JFK,BQN,183.0,1576,5,JetBlue Airways,NaN,NaN,JFK,John F Kennedy Intl
4,2013,1,1,554.0,-6.0,812.0,-25.0,DL,461,N668DN,LGA,ATL,116.0,762,6,Delta Air Lines Inc.,ATL,Hartsfield Jackson Atlanta Intl,LGA,La Guardia
5,2013,1,1,554.0,-4.0,740.0,12.0,UA,1696,N39463,EWR,ORD,150.0,719,5,United Air Lines Inc.,ORD,Chicago Ohare Intl,EWR,Newark Liberty Intl
6,2013,1,1,555.0,-5.0,913.0,19.0,B6,507,N516JB,EWR,FLL,158.0,1065,6,JetBlue Airways,FLL,Fort Lauderdale Hollywood Intl,EWR,Newark Liberty Intl
7,2013,1,1,557.0,-3.0,709.0,-14.0,EV,5708,N829AS,LGA,IAD,53.0,229,6,ExpressJet Airlines Inc.,IAD,Washington Dulles Intl,LGA,La Guardia
8,2013,1,1,557.0,-3.0,838.0,-8.0,B6,79,N593JB,JFK,MCO,140.0,944,6,JetBlue Airways,MCO,Orlando Intl,JFK,John F Kennedy Intl
9,2013,1,1,558.0,-2.0,753.0,8.0,AA,301,N3ALAA,LGA,ORD,138.0,733,6,American Airlines Inc.,ORD,Chicago Ohare Intl,LGA,La Guardia