 <img src="https://eant.tech/imagenes/logo.png" width=25% height=80%  >

## <img src="http://icons.iconarchive.com/icons/cornmanthe3rd/plex/256/Other-python-icon.png" width="40"> Ejercicio Gapminder 游늸游딬勇游깵

La fundaci칩n Gapminder es una organizaci칩n sin fines de lucro con sede en Suecia que promueve el desarrollo global mediante el uso de estad칤sticas.

<center>
<img src="https://s3-eu-west-1.amazonaws.com/static.gapminder.org/GapminderMedia/wp-uploads/20170113171243/Gapminder-Offline-Tools.png" width="50%"> 
</center>

游댳 1. Importar el dataframe que se encuentra en el siguiente link: https://raw.githubusercontent.com/cienciadedatos/datos-de-miercoles/master/datos/2019/2019-04-24/gapminder_es.csv

In [1]:
import pandas as pd

df = pd.read_csv('https://raw.githubusercontent.com/cienciadedatos/datos-de-miercoles/master/datos/2019/2019-04-24/gapminder_es.csv')

df.head(5)

         pais continente  anio  esperanza_de_vida  poblacion  pib_per_capita
0  Afganistan       Asia  1952             28.801    8425333      779.445314
1  Afganistan       Asia  1957             30.332    9240934      820.853030
2  Afganistan       Asia  1962             31.997   10267083      853.100710
3  Afganistan       Asia  1967             34.020   11537966      836.197138
4  Afganistan       Asia  1972             36.088   13079460      739.981106

游댳 2. Calcular por continente maximo, minimo y promedio de las variables: esperanza de vida, poblaci칩n y pib per capita.

In [6]:
df.groupby('continente')['esperanza_de_vida'].max()

continente
Africa      76.442
Americas    80.653
Asia        82.603
Europa      81.757
Oceania     81.235
Name: esperanza_de_vida, dtype: float64

In [5]:
df.groupby('continente')['esperanza_de_vida'].mean()

continente
Africa      48.865330
Americas    64.658737
Asia        60.064903
Europa      71.903686
Oceania     74.326208
Name: esperanza_de_vida, dtype: float64

游댳 3. Generar un dataframe denominado `america` que contenga los datos de America para los a침os mayores al 2000.

In [4]:
america = df.query("continente == 'Americas' and anio > 2000")
america.head(5)

,pais,continente,anio,esperanza_de_vida,poblacion,pib_per_capita
58,Argentina,Americas,2002,74.340,38331121,8797.640716
59,Argentina,Americas,2007,75.320,40301927,12779.379640
142,Bolivia (Estado Plurinacional de),Americas,2002,63.883,8445134,3413.262690
143,Bolivia (Estado Plurinacional de),Americas,2007,65.554,9119152,3822.137084
178,Brasil,Americas,2002,71.006,179914212,8131.212843

游댳 4. Cuantos paises hay en el dataset? Se agreg칩 alg칰n pa칤s nuevo en el 2007 en comparaci칩n con los a침os anteriores

In [7]:
len(df.pais.unique())

142

In [8]:
len(df.query("anio < 2007")['pais'].unique())

142

游댳 5. Generar un dataset generado Argentina que contenga las siguientes filas denominada: pais, a침o y poblaci칩n

In [10]:
arg = df.query("pais == 'Argentina'")[['pais','anio','poblacion']]
arg.head()

         pais  anio  poblacion
48  Argentina  1952   17876956
49  Argentina  1957   19610538
50  Argentina  1962   21283783
51  Argentina  1967   22934225
52  Argentina  1972   24779799

游댳 6. Generar un dataframe denominado `asia_america` que contenga los datos de `America` y `Asia` para el a침o 2000

In [11]:
asia_america = df.query("continente == 'Americas' or continente == 'Asia' and anio > 2000")
asia_america.head(5)

          pais continente  anio  esperanza_de_vida  poblacion  pib_per_capita
10  Afganistan       Asia  2002             42.129   25268405      726.734055
11  Afganistan       Asia  2007             43.828   31889923      974.580338
48   Argentina   Americas  1952             62.485   17876956     5911.315053
49   Argentina   Americas  1957             64.399   19610538     6856.856212
50   Argentina   Americas  1962             65.142   21283783     7133.166023

游댳 7. Seleccionar todas las columnas excepto la columna `esperanza_de_vida` para el dataframe generado en el paso anterior.

In [15]:
asia_america.loc[:, asia_america.columns != 'esperanza_de_vida'].head()

          pais continente  anio  poblacion  pib_per_capita
10  Afganistan       Asia  2002   25268405      726.734055
11  Afganistan       Asia  2007   31889923      974.580338
48   Argentina   Americas  1952   17876956     5911.315053
49   Argentina   Americas  1957   19610538     6856.856212
50   Argentina   Americas  1962   21283783     7133.166023

游댳 8. 쯈u칠 pa칤s tiene la esperanza de vida m치s alta en el 2007?  Imprima los datos para el top 10 paises con mayor esperanzad de vida para el 2007

El primer lugar esta 
- [ ] Argentina
- [ ] Japon
- [ ] Italia
- [ ] Rusia

In [16]:
top07 = df.query("anio == 2007")[['pais','esperanza_de_vida']].nlargest(10, 'esperanza_de_vida')
top07

                                                   pais  esperanza_de_vida
803                                               Japon             82.603
671   Hong Kong (Region Administrativa Especial de C...             82.208
695                                            Islandia             81.757
1487                                              Suiza             81.701
71                                            Australia             81.235
1427                                             Espana             80.941
1475                                             Suecia             80.884
767                                              Israel             80.745
539                                             Francia             80.657
251                                              Canada             80.653

游댳 9. Generar un dataframe con el promedio de esperanza de vida para cada continente para los a침os mayores e iguales al 2000

In [13]:
df.query("anio > 2000").groupby('continente')['esperanza_de_vida'].mean()

continente
Africa      54.065635
Americas    73.015080
Asia        69.981182
Europa      77.174600
Oceania     80.229750
Name: esperanza_de_vida, dtype: float64

游댳 10. Generar un dataframe con el promedio de esperanza de vida tomando en cuenta las siguientes condiciones:
* A침os mayores e iguales al 2000
* Los 10 paises con esperanza de vida mayor en el 2007

In [29]:
top07_paises = list(top07['pais'])

df.query("anio >= 2000 and pais in @top07_paises").groupby('pais')['esperanza_de_vida'].mean()

pais
Australia                                              80.8025
Canada                                                 80.2115
Espana                                                 80.3605
Francia                                                80.1235
Hong Kong (Region Administrativa Especial de China)    81.8515
Islandia                                               81.1285
Israel                                                 80.2205
Japon                                                  82.3015
Suecia                                                 80.4620
Suiza                                                  81.1605
Name: esperanza_de_vida, dtype: float64