 <img src="https://eant.tech/imagenes/logo.png" width=25% height=80%  >

## <img src="http://icons.iconarchive.com/icons/cornmanthe3rd/plex/256/Other-python-icon.png" width="40"> Ejercicio Terremotos üåçüåäüåêüèîÔ∏è

<center>
<img src="https://i.ibb.co/Z8DYxPV/ciudad-destruida-zona-guerra-107791-3703.jpg" alt="ciudad-destruida-zona-guerra-107791-3703" border="0">

> source image: [link](https://www.freepik.es/vector-gratis/ciudad-destruida-zona-guerra_10385769.htm#page=1&query=Terremoto&position=2)

üè∑Ô∏è Importar las siguientes librer√≠as de python

* pandas [`pd`]
* folium
* numpy [`np`]
* matplotlib.pyplot [`plt`]

In [1]:
import pandas as pd
import folium 
import numpy as np
import matplotlib.pyplot as plt

üè∑Ô∏è Importar el dataframe denominado `terremotos` que se encuentra en la siguiente url

In [2]:
url="https://raw.githubusercontent.com/cienciadedatos/datos-de-miercoles/master/datos/2019/2019-05-29/terremotos.csv"

In [3]:
terremotos = pd.read_csv(url)

In [4]:
terremotos.head()

        fecha      hora  latitud  longitud       tipo  profundidad  magnitud
0  1965-01-02  13:44:18   19.246   145.616  terremoto        131.6       6.0
1  1965-01-04  11:29:49    1.863   127.352  terremoto         80.0       5.8
2  1965-01-05  18:05:58  -20.579  -173.972  terremoto         20.0       6.2
3  1965-01-08  18:49:43  -59.076   -23.557  terremoto         15.0       5.8
4  1965-01-09  13:32:50   11.938   126.427  terremoto         15.0       5.8

In [5]:
terremotos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23412 entries, 0 to 23411
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   fecha        23412 non-null  object
 1   hora         23412 non-null  object
 2   latitud      23412 non-null  float64
 3   longitud     23412 non-null  float64
 4   tipo         23412 non-null  object
 5   profundidad  23412 non-null  float64
 6   magnitud     23412 non-null  float64
dtypes: float64(4), object(3)
memory usage: 1.3+ MB

üè∑Ô∏è Imprimir las primeras 5 observaciones

In [6]:
terremotos.head()

        fecha      hora  latitud  longitud       tipo  profundidad  magnitud
0  1965-01-02  13:44:18   19.246   145.616  terremoto        131.6       6.0
1  1965-01-04  11:29:49    1.863   127.352  terremoto         80.0       5.8
2  1965-01-05  18:05:58  -20.579  -173.972  terremoto         20.0       6.2
3  1965-01-08  18:49:43  -59.076   -23.557  terremoto         15.0       5.8
4  1965-01-09  13:32:50   11.938   126.427  terremoto         15.0       5.8

üè∑Ô∏è Imprimir la cantidad de filas y columnas que posee el dataframe

In [7]:
terremotos.shape

(23412, 7)

In [8]:
terremotos["tipo"].unique()

array(['terremoto', 'explosi√≥n nuclear', 'explosi√≥n', 'estallido de roca'],
      dtype=object)

üè∑Ô∏è Calcular la media, cuartiles, m√°ximo, m√≠nimo y desviaci√≥n de las columnas profundidad y magnitud.

In [9]:
terremotos[['profundidad','magnitud']].describe()

        profundidad      magnitud
count  23412.000000  23412.000000
mean      70.767911      5.882531
std      122.651898      0.423066
min       -1.100000      5.500000
25%       14.522500      5.600000
50%       33.000000      5.700000
75%       54.000000      6.000000
max      700.000000      9.100000

üè∑Ô∏è Valide si el dataframe posee columnas con valores nulos

In [10]:
terremotos.isna().any()

fecha          False
hora           False
latitud        False
longitud       False
tipo           False
profundidad    False
magnitud       False
dtype: bool

In [11]:
terremotos.isnull().sum()

fecha          0
hora           0
latitud        0
longitud       0
tipo           0
profundidad    0
magnitud       0
dtype: int64

üè∑Ô∏è Realizar una nueva variable denominada `hora_` que tenga el mismo valor que la variable `hora` en formato num√©rico

In [12]:
terremotos = terremotos.loc[terremotos.hora != 'NA:NA:NANA']

In [13]:
terremotos.shape

(23409, 7)

In [14]:
# solo dropeamos 3 registros que tenia data erronea en la hora para poder hacer esto
terremotos["hora_"] = pd.to_datetime(terremotos.hora, format='%H:%M:%S').dt.hour

üè∑Ô∏è ¬øCu√°les son las horas que m√°s terremotos se producen?

In [15]:
terremotos.groupby("hora_", as_index= False).count()[["magnitud"]].rename({"magnitud": "Cantidad"}, axis = 1)

    Cantidad
0        948
1        954
2        974
3       1029
4        975
5        996
6        998
7       1005
8        978
9        930
10      1017
11       981
12       946
13      1058
14       981
15       926
16       917
17       998
18      1029
19       996
20       939
21       945
22       923
23       966

üè∑Ô∏è Agregar una columna teniendo en cuenta los momentos del d√≠a

Momento | Intervalo
----|----
 'Madrugada'| de las   00 a las 06
 'Ma√±ana'   | de las   07 a las 12
 'Tarde'    | de las 13  a las 19
 'Noche'    | de las 20  a las 23

In [16]:
bins = [0, 6, 12, 19, 23 ]
labels = ["Madrugada", "Ma√±ana", "Tarde",  "Noche" ]
terremotos["momento"] = pd.cut(terremotos["hora_"], bins= bins, labels=labels, include_lowest = True)

In [17]:
conditions = [
    terremotos.hora_.between(0,6),
    terremotos.hora_.between(7,12),
    terremotos.hora_.between(13,19),
    terremotos.hora_.between(20,23)]

choices = ['Madrugada', 'Ma√±ana', 'Tarde','Noche']


terremotos['momento_hora'] = np.select(conditions, choices, default='')

In [18]:
terremotos.head()

,fecha,hora,latitud,longitud,tipo,profundidad,magnitud,hora_,momento,momento_hora
0,1965-01-02,13:44:18,19.246,145.616,terremoto,131.6,6.0,13,Tarde,Tarde
1,1965-01-04,11:29:49,1.863,127.352,terremoto,80.0,5.8,11,Ma√±ana,Ma√±ana
2,1965-01-05,18:05:58,-20.579,-173.972,terremoto,20.0,6.2,18,Tarde,Tarde
3,1965-01-08,18:49:43,-59.076,-23.557,terremoto,15.0,5.8,18,Tarde,Tarde
4,1965-01-09,13:32:50,11.938,126.427,terremoto,15.0,5.8,13,Tarde,Tarde

In [19]:
terremotos["momento"].value_counts()

Tarde        6905
Madrugada    6874
Ma√±ana       5857
Noche        3773
Name: momento, dtype: int64

üè∑Ô∏è Ahora volver a calcular cual es el momento del d√≠a con m√°s terremotos.

In [20]:
terremotos.groupby("momento").count()[["magnitud"]].rename({"magnitud": "Cantidad"}, axis = 1)

           Cantidad
momento
Madrugada      6874
Ma√±ana         5857
Tarde          6905
Noche          3773

üè∑Ô∏è Agregar una variable que muestre las categor√≠as de los terremotos, para lo cual tome como base la descripci√≥n que aparece a continuaci√≥n

> Para mas info: https://es.wikipedia.org/wiki/Escala_sismol%C3%B3gica_de_Richter


Magnitud |	Descripci√≥n	| Efectos de un sismo	| Frecuencia de ocurrencia
---|---|---|---|
Menos de 2,0 	|Micro	| Los microsismos no son perceptibles.|	Alrededor de 8000 por d√≠a
2,0-2,9 |	Menor	 |Generalmente no son perceptibles.	|Alrededor de 1000 por d√≠a
3,0-3,9 | Menor |	Perceptibles a menudo, pero rara vez provocan da√±os. |	49 000 por a√±o.
4,0-4,9	 | Ligero	| Movimiento de objetos en las habitaciones que genera ruido. <br> Sismo significativo pero con da√±o poco probable.	| 6200 por a√±o.
5,0-5,9	| Moderado	| Puede causar da√±os mayores en edificaciones d√©biles o mal construidas. <br> En edificaciones bien dise√±adas los da√±os son leves.	| 800 por a√±o.
6,0-6,9	| 	Fuerte 	| 	Pueden llegar a destruir √°reas pobladas, en hasta unos 160 kil√≥metros a la redonda.	| 	120 por a√±o.
7,0-7,9	| 	Mayor		| Puede causar serios da√±os en extensas zonas.		| 18 por a√±o.
8,0-8,9		| √âpico o Cataclismo	| 	Puede causar graves da√±os en zonas de varios cientos de kil√≥metros.		| 1-3 por a√±o.
9,0-9,9	| √âpico o Cataclismo	| 	Devastadores en zonas de varios miles de kil√≥metros.	| 1-2 en 20 a√±os.
10,0+		| Legendario o apocal√≠ptico		| Nunca registrado. | Nunca ha sucedido un sismo de esta magnitud.

In [21]:
bins = [0, 2, 3.9, 4.9, 5.9, 6.9, 7.9, 9.9, 10 ]
labels = ['Micro', 'Menor', 'Ligero','Moderado','Fuerte','Mayor','Epico','Legendario']

In [22]:
terremotos["categorias"] = pd.cut(terremotos["magnitud"],  bins = bins, labels= labels)

In [23]:
terremotos.head()

,fecha,hora,latitud,longitud,tipo,profundidad,magnitud,hora_,momento,momento_hora,categorias
0,1965-01-02,13:44:18,19.246,145.616,terremoto,131.6,6.0,13,Tarde,Tarde,Fuerte
1,1965-01-04,11:29:49,1.863,127.352,terremoto,80.0,5.8,11,Ma√±ana,Ma√±ana,Moderado
2,1965-01-05,18:05:58,-20.579,-173.972,terremoto,20.0,6.2,18,Tarde,Tarde,Fuerte
3,1965-01-08,18:49:43,-59.076,-23.557,terremoto,15.0,5.8,18,Tarde,Tarde,Moderado
4,1965-01-09,13:32:50,11.938,126.427,terremoto,15.0,5.8,13,Tarde,Tarde,Moderado

üè∑Ô∏è ¬øCu√°ntos terremotos en base a las categor√≠as ocurrieron?

In [24]:
terremotos["categorias"].value_counts()

Moderado      16053
Fuerte         6618
Mayor           698
Epico            40
Micro             0
Menor             0
Ligero            0
Legendario        0
Name: categorias, dtype: int64

üè∑Ô∏è Generar una base con los terremotos tiene valores magnitudes mayores a 6 a partir del 2016 en adelante

In [25]:
terremotos['fecha'] = pd.to_datetime(terremotos['fecha'],format='%Y-%m-%d').dt.year

In [26]:
df_terremotos = terremotos.query("fecha >= 2016 & magnitud > 6").reset_index(drop=True)
df_terremotos.head()

,fecha,hora,latitud,longitud,tipo,profundidad,magnitud,hora_,momento,momento_hora,categorias
0,2016,02:00:40,-50.5575,139.4489,terremoto,10.00,6.3,2,Madrugada,Madrugada,Fuerte
1,2016,23:05:22,24.8036,93.6505,terremoto,55.00,6.7,23,Noche,Noche,Fuerte
2,2016,16:38:06,3.8965,126.8621,terremoto,13.00,6.5,16,Tarde,Tarde,Fuerte
3,2016,17:08:04,44.4761,141.0867,terremoto,238.81,6.2,17,Tarde,Tarde,Fuerte
4,2016,03:25:28,-19.7597,-63.3288,terremoto,582.56,6.1,3,Madrugada,Madrugada,Fuerte

üè∑Ô∏è ¬øCu√°ntas filas y columnas posee el nuevo dataframe?

In [28]:
df_terremotos.shape

(116, 11)